@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

$main_font : 'Josefin Sans', sans-serif;
$motto_font: 'Lobster', cursive;
$black: #0d0d0d;
$black_2: #161616;
$grey: #b2b2b2;
$light_pink: #e2767e;
$darker_pink: #bf4b4f;
$red: #7e2424;